/* border remove and font import + text decoration removal */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font: weight 300px;
    color: darkgrey;

}

a {
    text-decoration: none;
}

/* #home-button and #nav-bar */

#home-button, #nav-bar {
    line-height: 50px;

}

#home-button {
    float: left;
    font-size: 40px;
    color: #4f4f4f;
    margin-left: 10px;
    position: fixed;
}

#home-button > span {
    padding-left: 10px;
}

#home-button:hover {
    color: #9d9d9d;
}

 #nav-bar {
    text-align: left;
    margin-right: 10px;
    /* padding: 0px; */
}

#nav-bar li {
    list-style-type: none;
    float: right;
}

#nav-bar a {
    color: inherit;
    padding: 5px;
}

#nav-bar a:hover{
    color: #9d9d9d;
    border-bottom: 1px solid #9d9d9d ;
}

/* #hero-image and dynamic viewport styling */

#hero-container {
    height: 105vh;
    width: 100vw;
  
}

#hero-image {
    background: url("../images/rsz_black-bike-bicycle-product-d8491f8d309dc49a1a38782165d90dc0.jpg") no-repeat center center;
    background-size: cover; 
    height: inherit;
    width: inherit;
}

/* About us Section */

#about {
   background-color: #282828; 
   height: 50vh;
   width: 100vw;
}

#about h2 {
    color: black;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    text-transform: uppercase;
}

#paragraph-left {
    float: left;
    width: 300px;
    height: 100px;
    position: relative;
    left: 10%;

}

#paragraph-right {
    float: right;
    width: 300px;
    height: 100px;
    position: relative;
    right: 10%;
    top: 3%;
}

#paragraph-right, #paragraph-left {
    color: #e1dddd;
    font-size: 20px;
    

}

#about-us-image-container {
    height: 40vh;
    width: 40vw;
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
}

#about-us-image {
    background-image: url("../images/imageedit_2_4294939165.jpg");
    background-size: cover;
    height: inherit;
    width: inherit;
    border-radius: 3%;
    opacity: 70%;
}

/* repair section */

#repair {
    background-color: #101010;
    height: 75vh;
    width: 100vw;
    background: url("../images/bike-workshop.jpg") no-repeat center;
    background-size: cover;
}

#repair h2 {
    color:#dedede;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    text-transform: uppercase;
}

#repair-form {
    float: right;
    margin-top: 3%;
    margin-right: 70px;
    max-width: 550px;
    border: 1px;
    border-style: double; 
    background-color: rgb(37, 37, 37);
    opacity: 93%;
    padding-left: 10px;
}

#repair-form h3 {
    text-align: center;
    border-bottom: 2px dashed #282828;
    
}

.text-input {
   width: 100%;
}

#service-level-legend {
    float: left;
    margin-left: 10px;
    margin-top: 10px;


}

#service-level-legend h4 {
    text-align: center;
}


/* footer */

footer {
    height: 110px;
}

#socials {
    text-align: center;
}

#socials > li {
    display: inline;
}

#socials i {
    padding: 3%;
    font-size: 180%;
    color: #4f4f4f;
}

#socials a:hover {
    font-size: 105%;
}






